// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container input[type="submit"] {
  height: 30px;
  font-size: 13px;
  background-color: #f55e55;
  border: none;
  color: #fff;
}

.col-md-8 {
  border-bottom-style: solid;
  border-color: #0275d8;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.col-md-6 {
  border: solid;
  border-color: #0275d8;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.col-md-5 {
  padding: 5px 5px 5px 5px;
  margin: 20px 5px 5px 5px;
}

.col-md-1 {
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.col-md-3 {
  border-radius: 5px;
  padding: 20px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}
